/* game board table */
#board td {
  width: 50px;
  height: 50px;
  border: solid 3px rgb(0, 0, 200);
  background-color: white;
}

#board {
  background-color: rgb(0, 0, 200);
}

/* pieces are div within game table cells: draw as colored circles */
.piece {
  /* TODO: make into circles */
  margin: 3px;
  width: 70%;
  height: 70%;
  border-style: groove;
  border-width: 5px;
  border-radius: 50%;
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */
.p1 {
  background-color: blue;
  border-color: rgb(0, 0, 220);
}

.p2 {
  background-color: red;
  border-color: rgb(220, 0, 0);
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}

#game {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
}

#title {
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: blue;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
}