/* game board table */
#board td {
  width: 75px;
  height: 75px;
  border: solid 3px rgb(0, 0, 200);
  background-color: white;
}

#board {
  background-color: rgb(0, 0, 200);
}

/* pieces are div within game table cells: draw as colored circles */
.piece {
  /* TODO: make into circles */
  margin: 4px;
  width: 70%;
  height: 70%;
  border-style: groove;
  position: relative;
  border-width: 7px;
  border-radius: 50%;
  animation: drop 0.5s;
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */
.p1 {
  background-color: blue;
  border-color: rgb(0, 0, 220);
}

.p2 {
  background-color: red;
  border-color: rgb(220, 0, 0);
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}

#game {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
}

#title {
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: blue;
  height: 125px;
  display: flex;
  justify-content: center;
}

h1 {
  margin-top: 0px;
}

html {
  background-color: rgb(165, 228, 228);
}

@keyframes drop {
  0% {
    top: -250px;
  }

  25% {
    top: -200;
  }

  50% {
    top: -150;
  }

  75% {
    top: -100;
  }

  100% {
    top: 0px;
  }
}